<h2>{{course.code}}: {{course.name}}</h2>

<div class="float_left">
    <h3>Exams</h3>
    <ol>
        <li ng-repeat="exam in course.Exams | orderBy: 'code'">
            <a href="#/course/{{course.id}}/exams/{{exam.id}}">
                {{exam.code}}
            </a>
        </li>
    </ol>
</div>

<div class="float_left">
    <h3>Tags</h3>
    <ul>
        <li ng-repeat="tag in tagLinks">        
            <a href="#/tags/{{tag[0].Tag.slug}}">{{tag[0].title}}</a> <span>{{tag.length}}</span>
        </li>
    </ul>
</div>
