<h2>Problem</h2>

<pre>{{problem}}</pre>

<h4>Tags:</h4>
<ul>
    <li ng-repeat="tagLink in problem.Exams[0].Problems[0].TagLinks">
        <a href="#/tags/{{tagLink.Tag.slug}}">{{tagLink.Tag.title}}</a>
        <button ng-click="deleteTagLink(problem, tagLink)"> <i class="fa fa-trash-o"></i></button>
    </li>
</ul>

<div>
    <label for="tagTitle">Add tag: </label>
    <input type="text" id="tagTitle" ng-model="tag" autofocus="true">
</div>
<input type="submit" ng-click="addTag(problem.id, tag.title)" name="submit" value="Add tag">


<h3>Question</h3>
<div class="problem-img">
    <img src="/{{problem.Exams[0].Problems[0].Question.filename}}" />
</div>

<h3>Answer</h3>
<div class="problem-img" ng-show="problem.Exams[0].Problems[0].Answer">
    <img src="/{{problem.Exams[0].Problems[0].filename}}" />
</div>
