<a href="#/courses/{{tag.course[0].id}}">Back to '{{tag.course[0].name}}'</a>
<h1>{{tag.title}}</h1>

<h2>Tag: {{tag.tag.title}}</h2>

<div>
    <label for="tagTitle">Tag title: </label>
    <input type="text" id="tagTitle" ng-model="tag.tag.title">
</div>
<input type="submit" ng-click="updateTagName(tag.tag.title)" name="submit" value="Update name" autofocus="true" >

<h3>Problems</h3>

<div ng-repeat="course in tag.course">
    <ul ng-repeat="exam in course.Exams" class="inline-list">
        <li ng-repeat="problem in exam.Problems" class="inline-list">
            <a href="#/courses/{{tag.course[0].id}}/exams/{{exam.id}}/problems/{{problem.id}}">{{problem.id}}</a>
            &nbsp;
        </li>
    </ul>
</div>


