<a href="#/courses/{{data.course[0].id}}">{{data.course[0].name}}</a>

<h2>{{tag.tag.title}}</h2>

<h3>Tag: {{tag.tag.title}}</h3>

<form class="form-inline">
    <button class="btn btn-default btn-sm" type="submit" ng-click="updateTagName(tag.tag.title)" name="submit">
        Update name
    </button>
    <div class="form-group form-group-sm">
        <label class="sr-only" for="tagTitle">Tag title: </label>        
        <input class="form-control" type="text" id="tagTitle" ng-model="tag.tag.title">
    </div>

</form>
<h3>Problems</h3>

<div ng-repeat="course in data.problems">
    <ul class="list-unstyled no-space-bottom" ng-repeat="exam in course.Exams">
        <li class="bot7" ng-repeat="problem in exam.Problems">
            <a href="#/courses/{{tag.course[0].id}}/exams/{{exam.id}}/problems/{{problem.id}}">{{problem.id}}</a>
            &nbsp;
            <span>
                <a class="tag-border-md highlighted"
                   href="#/tags/{{data.tag.slug}}">{{data.tag.title}}</a>
            </span>
            <span ng-repeat="taglink in problem.TagLinks | filter: filterFunction | orderBy: 'title'">
                <a class="tag-border-md {{taglink.Tag.slug == data.tag.slug ? 'highlighted' : ''}}"
                   href="#/tags/{{taglink.Tag.slug}}">{{taglink.title}}</a>
            </span>
        </li>
    </ul>    
</div>


